################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Node.js
node_modules/
dist/
.env

# Prisma
generated/

/generated/prisma
